{% extends "base.html.twig" %}

{% block body %}

<h1>
    <span style="color: #5e9693;">Merci pour votre commande.</span><span style="color: #d1c2b8;"></span></h1>

<a href="#!">Cliquez ici pour suivre votre commande</a>
{% endblock %}